@charset "utf-8";
/* CSS Document */
/*--------------------------------------
　基本設定
---------------------------------------*/
body {
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Shippori Mincho','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color: #333;
  text-align: justify;
  text-justify: inter-character;
  background-image: url("../images/bg_all.jpg");
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; /*背景固定するならコメントアウト解除*/
}
a {
  text-decoration: none;
}
a:link {
  color: #000000;
} /* リンクの色 */
a:visited {
  color: #000000;
} /* 済みリンク */
a:hover {
  color: #acacac;
  text-decoration: underline;
} /* リンクにマウスオンした色 */
dl {
  -webkit-text-size-adjust: none;
}
/*--------------------------------------
　大枠囲み
---------------------------------------*/
#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*--------------------------------------
　フォントサイズ変更
---------------------------------------*/
h1 {
  font-size: 10px;
  color: #999797;
  margin-top: 5px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  text-align: center;
}
h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}
h4 {
  font-size: 24px;
  margin-top: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
h5 {
  font-size: 24px;
  text-align: center;
}
h6 {
  font-size: 24px;
  border-bottom: 1px solid #000;
}

/*--------------------------------------
　ヘッダー
---------------------------------------*/
#header {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 13px;
}

#header_box2 {
  overflow: hidden;
}

#header_left {
  float: left;
}


#logo {
  margin-top: 20px;
}
#header_btn {
  background: #646464;
  border-radius: 0 0 0.3em 0.3em;
  padding: 2px 44px;
  color: #ffffff;
}
#header_btn li {
  display: inline;
}
#header_right {
  float: right;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px; /* 高さを固定して中央揃えを安定させる */
}

.tel_box {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
}


.tel_icon {
  width: 24px;
  height: 24px;
  vertical-align: middle; /* 画像のベースラインを中央に */
  position: relative;
  top: 1px;
}

.tel_text {
  font-size: 24px;

  margin: 0;
}



.sns_bnr {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sns_logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  vertical-align: middle;
}



.sns_link {
  position: absolute;
  display: flex;
  align-items: center;     /* 縦方向の中央揃え */
  gap: 10px;               /* 画像と文字の間隔 */
  font-size: 16px;
  color: #000;
}

.sns_link.instagram {
  top: 240px;
  left: 66%;
}

.sns_link.x {
  top: 300px;
  left: 66%;
}

.sns_link {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sns_link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 10px; /* 画像とテキストの間隔 */
}

#header_btn a {
  text-decoration: none;
}
#header_btn a:link {
  color: #ffffff;
} /* リンクの色 */
#header_btn a:visited {
  color: #ffffff;
} /* 済みリンク */
#header_btn a:hover {
  color: #ffffff;
  text-decoration: underline;
} /* リンク上 */
#header_btn a:active {
  color: #ffffff;
} /* onclick */

/*--------------------------------------
　グローバルナビゲーション
---------------------------------------*/
#gnavi {
  overflow: hidden;
  padding-top: 10px;
  list-style-type: none;
}

#gnavi li.current {
  background: url(../images/gnavi_current.png) no-repeat;
  color: #937f5a;
}

#gnavi li.current a {
  color: #937f5a;
}

#gnavi li {
  float: left;
  line-height: 0;
  height: 40px;
  width: 200px;
  text-align: center;
  background: url(../images/gnavi_off.png) no-repeat;
}


#gnavi li:hover {
  background: url(../images/gnavi_on.png) no-repeat;
}

#gnavi li a {
  text-decoration: none; /* 通常時も下線なし */
  display: block;
  width: 200px;
  height: 40px;
  line-height: 16px;
  text-align: center;
  color: #000;
}


/* li:hover の中の a に色を合わせる！ */
#gnavi li:hover a {
  text-decoration: none; /* ホバー時も下線なし */
  color: #937f5a;
}

#gnavi li strong {
  font-weight: normal;
}
/*--------------------------------------
　キービジュアル
---------------------------------------*/
#visual_box {
  width: 1000px;
  margin: 0 auto;
}
/*--------------------------------------
　コンテナ
---------------------------------------*/
#container {
  width: 1000px;
  margin: 0 auto 50px;
  overflow: hidden;
  margin-top: 20px;
}
/*--------------------------------------
　サイド
---------------------------------------*/
#side {
  width: 202px;
  float: left;
}
#side h2 {
  background: url("../images/title_side.png") left bottom no-repeat;
  color: #000000;
  padding: 0 0 4px 28px;
  margin-bottom: 4px;
  line-height: 22px;
  height: 23px;
  font-size: 15px;
  font-weight: bold;
}
#side ul {
  margin-bottom: 26px;
}
#side ul li {
  text-indent: 14px;
  padding: 0 0 0 20px;
  display: block;
  border-bottom: 1px dotted #cccccc;
  font-size: 13px;
  line-height: 35px;
}
#side ul li a {
  display: block;
}
.side_info {
  background: #1f96e8;
  padding-top: 8px;
  border-radius: 0.3em 0.3em 0 0;
  color: #ffffff;
  font-size: 14px;
}
.s_box {
  padding: 15px 10px 3px 10px;
  border: 1px solid #cccccc;
  background: #fbfbfb;
  text-align: center;
}
.s_box h {
  text-align: center;
  padding: 10px 60px;
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  font-size: 14px;
  color: #000000;
}
.s_box p:first-of-type {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 12px;
  color: #000000;
}
.side_list {
  background: url(../images/icon_1.png) 5% 50% no-repeat;
}
.side_bnr {
  margin-bottom: 10px
}
.side_bnr:hover {
  opacity: 0.6;
}

#side ul a {
  text-decoration: none;
}
#side ul a:link {
  color: #000000;
} /* リンクの色 */
#side ul a:visited {
  color: #000000;
} /* 済みリンク */
#side ul a:hover {
  color: #acacac;
} /* リンクにマウスオンした色 */

/*--------------------------------------
　メインコンテンツ
---------------------------------------*/
#main {
  width: 1000px;
  float: none;
  margin: 0 auto;
}
.lamp-icon{
  position: absolute; /* 親は .feature_box1 */
  right: 20px;
  width: 120px;     /* サイズ指定 */
  height: auto;
  pointer-events: none;
  opacity: 0.9;
}
.feature_box1 {
  overflow: hidden;
  background-image: url("../images/bg_contents_01.jpg");
  background-repeat: no-repeat;
  background-position: center 10px;
  width: 1000px;
  height: 462px;
  position: relative;
}
.feature_box2 {
  overflow: hidden;
  background-image: url("../images/bg_contents_02.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 532px;
  position: relative;
}
.feature_box3 {
  margin-bottom: 30px;
  overflow: hidden;
  background-image: url("../images/bg_contents_03.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 382px;
  position: relative;
}
.feature_box4 {
  margin-bottom: 30px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 1000px;
  height: auto;
  position: relative;
}

.feature_big {
  font-size: 28px;
  text-shadow: 1px 1px 2px silver;
}
.feature_box_txt1 {
  font-size: 16px;
  position: absolute;
  top: 167px;
  left: 455px;
  width: 520px;
  color: #000000;
  margin-bottom: 20px;
  line-height: 2;
}
.feature_box_txt2 {
  position: absolute;
  top: 170px;
  left: 70px;
  width: 600px;
  color: #000000;
}
.feature_box_txt3 {
  position: absolute;
  top: 125px;
  left: 330px;
  width: 800px;
  color: #000000;
}
.feature_box_txt4 {
  position: absolute;
  top: 125px;
  left: 500px;
  width: 500px;
  color: #000000;
  text-align: center;
  justify-content: center; /* 横方向の中央ぞろえ */
  align-items: center;     /* 縦方向の中央ぞろえ */
}
.feature_more_btn1 {
  position: absolute;
  top: 410px;
  left: 780px;
  width: 180px; /* ← これがないと見えない！ */
  height: 50px; /* ← これも重要！ */
  background: url(../images/viewmore.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.feature_more_btn2 {
  position: absolute;
  top: 410px;
  left: 430px;
  width: 180px; /* ← これがないと見えない！ */
  height: 50px; /* ← これも重要！ */
  background: url(../images/viewmore.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.feature_more_btn3 {
  position: absolute;
  top: 300px;
  left: 670px;
  width: 180px; /* ← これがないと見えない！ */
  height: 50px; /* ← これも重要！ */
  background: url(../images/viewmore.png) no-repeat;
  background-size: contain;
  cursor: pointer;
}
.feature_more_btn4 {
  position: absolute;
  top: 240px;
  left: 800px;
}
.feature_more_btn5 {
  position: absolute;
  top: 292px;
  left: 800px;
}

.feature_more_btn1:hover, .feature_more_btn2:hover, .feature_more_btn3:hover {
  width: 180px; /* ← これがないと見えない！ */
  height: 50px; /* ← これも重要！ */
  background: url(../images/viewmore2.png) no-repeat;
  background-size: contain;
}

.feature_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* スマホ対応 */
}

.feature_left{
  margin-top: 20px;
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.feature_right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------
　コンセプト
---------------------------------------*/
#main_consept{
  width: 1000px;
  float: right;
}
.concept_box1{
  overflow: hidden;
  background-image: url("../images/img_concept_01.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 556px;
  position: relative;
  margin-bottom: 100px;
}
.concept_box2{
  overflow: hidden;
  background-image: url("../images/img_concept_02.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 200px;
  position: relative;
  margin-bottom: 100px;
}
.concept_box3 {
  overflow: hidden;
  background-image: url("../images/img_concept_03.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  position: relative;
  margin-bottom: 200px;
}
.concept_box4 {
  overflow: hidden;
  background-image: url("../images/img_concept_04.jpg");
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  position: relative;
}

.concept_box_txt1{
  color: #000000;
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 680px;
  height: 40px;
  color: #000000;
  text-align: center;
}
.concept_box_txt2{
  color: #000000;
  font-size: 16px;
  position: absolute;
  top: 70px;
  left: 30px;
  width: 680px;
  height: 40px;
  color: #000000;
  text-align: center;
}
.concept_box_txt3{
  color: #000000;
  font-size:24px;
  position: absolute;
  width: 1000px;
  height: 200px;
  color: #000000;
  display: flex;
  justify-content: center; /* 横方向の中央ぞろえ */
  align-items: center;     /* 縦方向の中央ぞろえ */
}
.concept_box_txt4 {
  color: #000000;
  font-size: 16px;
  position: absolute;
  top: 70px;
  left: 500px;
  width: 450px;
  height: 70px;
  color: #000000;
  text-align: left;
}
.concept_box_txt5 {
  color: #000000;
  font-size: 24px;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 1000px;
  height: 40px;
  color: #000000;
  text-align: left;
}
.concept_box_txt6 {
  color: #000000;
  font-size: 16px;
  position: absolute;
  top: 120px;
  left: 30px;
  width: 500px;
  height: 80px;
  color: #000000;
  text-align: left;
}

.twitter-tweet {
  margin: 0px;
}


#news dl {
  overflow: hidden;
}
#news dt {
  background: url(../images/icon_2.png) 11% 50% no-repeat;
  float: left;
  padding-left: 27px;
  line-height: 38px;
}
#news dd {
  border-bottom: 1px dotted #a6a6a6;
  padding: 0 0 0 140px;
  line-height: 38px;
}
/*--------------------------------------
　フッター
---------------------------------------*/
footer {
  margin-top: 50px;
  min-width: 1000px;
}
#footer_bottom {
  background: #937f5a;
  color: #ffffff;
  font-size: 12px;
}
#footer_bottom a {
  color: #595959;
}
#footer_bottom_box {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
#footer_bottom address {
  float: left;
  padding-top: 3px;
  font-style: normal;
}
#footer_bottom .copy {
  float: right;
  margin-top: 38px;
}
/*--------------------------------------
　下層ページ共通
---------------------------------------*/
#page_ttl {
  margin: 0 auto;
  background: url(../images/bg_title.jpg) no-repeat;
  overflow: hidden;
  width: 1000px;
  height: 97px;
}
#page_ttl p {
  padding-left: 40px;
  font-size: 40px;
  line-height: 97px;
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
/*--------------------------------------
　コンセプトページ new
---------------------------------------*/
.concept_txt {
  margin-bottom: 30px;
}
.concept_img {
  margin-bottom: 30px;
}
/*--------------------------------------
　メニューページ
---------------------------------------*/

.menu_title{
  margin-bottom: 30px
}

.bottom-image {
  display: flex;               /* ← Flexboxを使う！ */
  justify-content: center;     /* 横方向の中央ぞろえ */
  align-items: center;         /* 縦方向の中央ぞろえ */
  margin-top: 40px;
}

.bottom-image img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.column {
  flex: 1;
}


.menu-section {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}
.menu-item {
  top: 10px;
  flex: 1;
}
.price {
  text-align: right;
  min-width: 70px;
}

small {
  font-size: 12px;
  color: #333;
  display: block;
  margin-top: 10px;
}

.note {
  margin-top: 20px;
  text-align: center;
}
/*--------------------------------------
　よくあるご質問ページ
---------------------------------------*/
#qa dt {
  font-size: 20px;
  margin-top:10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #cccccc;
  font-weight: bold;
}
#qa dd {
  font-size: 16px;
  margin-bottom: 40px;
}
.q_txt {
  font-weight: bold;
  color: #000000;
  padding-right: 5px;
}
.a_txt {
  font-weight: bold;
  color: #000000;
  padding-right: 5px;
}
.qa_img {
  text-align: center;
  margin-bottom: 40px;
}
/*--------------------------------------
　アクセスページ
---------------------------------------*/
.route_box{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /*padding-left: 15px;  これで全体を10px右に */

}
.step {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  justify-content: center;
}
.step-item {
  width: 450px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: #fff;
  padding: 10px;
}
.step-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.step-item p {
  margin-top: 8px;
  font-size: 14px;
}
.access_txt {
  margin-bottom: 30px;
}
.access_map {
  display: flex;
  justify-content: center; /* 横方向の中央ぞろえ */
  align-items: center;     /* 縦方向の中央ぞろえ */
  margin-bottom: 40px;
}
.access_img {
  text-align: center;
  margin-bottom: 40px;
}
/*--------------------------------------
　お問い合わせページ
---------------------------------------*/
.inquiry_form {
  margin-bottom: 30px;
}
.inquiry_form table {
  width: 100%;
}
.inquiry_form td {
  padding: 5px;
}
.inquiry_txt {
  margin-bottom: 30px;
}
.inquiry_img {
  text-align: center;
  margin-bottom: 40px;
}